<div class="ui-empty {% if class %}{{ class }}{% endif %}">

    {% if icon %}
        <div class="ui-empty-icon" aria-hidden="true">
            {{ icon }}
        </div>
    {% endif %}

    {% if title %}
        <div class="ui-empty-title">
            {{ title }}
        </div>
    {% endif %}

    {% if description %}
        <div class="ui-empty-description">
            {{ description }}
        </div>
    {% endif %}

    {% if action %}
        <div class="ui-empty-action">
            {{ action }}
        </div>
    {% endif %}

</div>