<div class="ui-list-item">

    <!-- Sporcu / ödeme bilgisi -->
    <div class="ui-list-content">

        <div class="ui-list-title">
            <a
                href="{% url 'athlete-manage-detail' payment.athlete.pk %}"
                class="hover:text-[var(--ui-primary-text)]"
            >
                {{ payment.athlete.get_full_name }}
            </a>
        </div>

        <div class="ui-list-subtitle">
            {{ payment.period }}
            ·
            {{ payment.get_payment_type_display }}
        </div>

    </div>


    <!-- Tutar / tarih -->
    <div class="ui-list-end">

        <div class="ui-list-value text-success">
            {{ payment.amount|floatformat:0 }} TL
        </div>

        <div class="ui-list-meta">
            {{ payment.paid_at|date:'d.m.Y H:i' }}
        </div>

    </div>

</div>