<div 
        class="ui-list-item"
        hx-get="{% url 'training-attendance-schedule' schedule.team.pk schedule.pk %}?training_date={{ selected_date|date:'Y-m-d' }}"
        hx-target="#attendance-modal-container"
        hx-swap="innerHTML">
    <span aria-hidden="true">{{ schedule.start_time|time:"H:i" }} {{ schedule.end_time|time:"H:i" }}</span>
    <div class="ui-list-item ">
        <span>{{ schedule.team.name }}</span>
        <span class="ui-primary-text">{{ schedule.get_training_type_display }} · {{ schedule.location }}</span>
    </div>
    <div>
        
        {% include "team/partials/training_attendance_count.html" with attended_count=schedule.attended_count absent_count=schedule.absent_count %}
    </div>
</div>